*{outline:0 !important;}
body{ background:#A5D2DA; padding:0; color: #454545; font-family: 'Raleway', sans-serif;}
.body-login{background-color: white;}
.body-view{background-color: white;}
a,a:hover{text-decoration:none; color:#FE5214}
h2,h3{color:#FE5214; text-rendering: optimizelegibility; }
h1{padding:0px; font-weight: 200;font-size: 32px;color: #3f3f3f;margin: 0;font-family: 'Raleway', sans-serif;text-rendering: optimizelegibility;}
.debug{ border:1px solid #FFCC33;}
h1.brand {
    background: none repeat scroll 0 0 #299A0B ;
    border-radius: 86% 86% 86% 86%;
    box-shadow: 0 0 4px #000000;
    color: #FFFFFF;
    font-size: 41px;
    height: 100px;
    line-height: 81px;
    margin: -87px auto 0;
    padding: 75px 0 0;
    text-shadow: 1px 1px 0 #000000;
    width: 222px;
}
.collapse{
	display:table;
	float:right;
}
.item img{
	margin:auto;
	max-width:80%;
}
.span3.logo {
    padding: 25px 0px 0px;
    width: 25%;
    float: left;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #4caf50;
    margin-top: -30px;
    font-weight: bold;
}
.line{
    width: 100%;
    margin: 3px auto;
    height: 1px;
    display: block;
    background: #211E1E;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	    color: #a2a3a3;
    background-color: #fff;
}
.clr{clear:both}
.cntr{text-align:center}
.navbar{margin-top:6px; position:relative;z-index:999; }
.navbar .nav, .navbar .nav > li{float:none; text-align:right;margin-top: 9px;}
.nav li{display:inline-block; float:none;}
.nav a {padding: 3px 18px;color:inherit;border-radius:0px;}
.mynav li{
	font-size: 17px;font-family: 'Raleway', sans-serif;display: inline-block; color:#3A494C !important;
}
.img-slide{
	width: 45%;
}
.mynav li a:hover{
	background:#0275d8;
	color:white;
	padding: 12px 15px;
	overflow: hidden;
	transition:all ease-in .5s;
}
 #portfolioSection, #ourServices, #newsServices,
#informasiServices, #blogSection{padding:100px 0 ; }
.txtR{text-align:right}

#newsServices{background: #fff;text-align: center;border-top: 1px solid #ddd;}
#newsServices h4 {
    margin:25px 0;
}

#newsServices p {
    color: #5E5E5E;
    font-size: 19px;
    line-height: 27px;
    padding-bottom: 10px;
}

#informasiServices{background: #fff;text-align: center;border-top: 1px solid #ddd;}
#informasiServices h4 {
    margin:25px 0;
}

#informasiServices p {
    color: #5E5E5E;
    font-size: 19px;
    line-height: 27px;
}

#dkmSection{
	background-color: #CCC741;
	text-align: center;
    padding: 70px 0;
}

#yayasanSection{
	background-color: #66bb6a;
	text-align: center;
    padding: 70px 0;
}

#letterServices{
	background-color: rgb(212, 212, 212);
	text-align: center;
    padding: 0px 0 ;
}



#portfolioSection{background: #00bfa5;text-align: center;}
#portfolioSection h1{ text-transform:uppercase; color:#fff; padding:0;font-size:60px;}
#portfolioSection p {
    color: #fff;
    font-size: 19px;
    line-height: 27px;
	margin: 15px 0;
}
#portfolioSection .span6, #contactSection .span6{ float:none; margin:0 auto; text-align:center;}

#loginSection{background-color: white;}


#blogSection{background: #fff;}
#blogSection p{margin:20px 0;}
#blogSection .span12{ margin:0;margin-bottom: 36px;}


#meetourteamSection{ padding:70px 0 ; background:#e57373;  text-align: center; }
#meetourteamSection h1{ text-transform:uppercase; color:#fff; padding:0; font-size:60px;}
#meetourteamSection .thumbnails  p {
    color: #909090;
    font-size: 22px;
    line-height: 27px;
	margin:20px 0;
}

#meetourteamSection  p {
    color: #fff;
    font-size: 19px;
    line-height: 27px;
	margin: 15px 0;
}
.thumbnails{
	list-style:none;
}
.label-primary{
	background:none !important;
}
.thumbnails li img:hover{
	opacity:.5;
	transition:all ease-in .5s;
}
.pics-ul{
	margin:10px auto 30px auto;
}
.pics-ul li{
	color:#FFF;
	font-size:24px;
}
.pics-ul li:hover{
	color:#99D4A5 !important;
}
.btn-1{
	margin-top:40px;
	color:#a2a3a3;
	background:#FFF;
	border:1px solid #fff;
	font-size:24px;
}
.btn-1:hover{
	color:#fff;
	background:none;
	border:1px solid #fff;
	transition:all ease-in .5s;
}
.inner h1{
	font-size:33px;
	line-height:35px;
}
.inner p{
	font-size:23px;
	line-height:27px;
}
.btn-primary{
	font-size:24px;
	background:#a5d3db;
	border-color:rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	border:1px solid;
	padding:15px 20px;
	border-radius:10px;
}
.btn-primary:hover{
	background:#FFF;
	border-color:#a5d3db;
	color:#a5d3db;
	transition:all ease-in .5s;
}
.soften{
	border:1px solid #cacaca;
	margin:30px auto !important;
}
.thumbnails li{
	margin-left:0 !important;
}
.thumbnail{
	background:none;
}
.thumbnails{
	padding-left:0px;
}
.form-cover{
	width:70%;
	margin:20px auto;
	text-align:center;
}
.input-xlarge{
	width:98%;
	border-radius:10px;
	border:none;
	padding:20px 10px;
	margin-top:20px;
	font-size:24px;
}
#meetourteamSection h4 {
    font-size: 37px;line-height: 40px; margin:10px 0;
}

#meetourteamSection h5 {
    font-size: 23px;
}

#meetourteamSection .span6, #contactSection .span6{ float:none; margin:0 auto; text-align:center;}
#meetourteamSection .thumbnails > li{margin-left: 60px; margin-bottom:60px;}
#meetourteamSection .thumbnails > li.span4{ width:350px;}
#meetourteamSection .thumbnails a.twitter{ height:56px; width:56px; background:url(../img/thum-t-icon.png) no-repeat center center;display:inline-block;}
#meetourteamSection .thumbnails a.facebook{ height:56px; width:56px; background:url(../img/thum-f-icon.png) no-repeat center center; display:inline-block;}
#meetourteamSection .thumbnails a.pin{ height:56px; width:56px; background:url(../img/thum-p-icon.png) no-repeat center center;display:inline-block;}


#recentpostSection{ padding:70px 0 ; background:none repeat scroll 0% 0% #81AFD5;  text-align: center; }
#recentpostSection h1{ text-transform:uppercase; color:#fff; padding:0; font-size:60px;}
#recentpostSection .thumbnails  p {
    color: #909090;
    font-size: 22px;
    line-height: 27px;
	margin:20px 0 0;
	padding-bottom:10px;
}

#recentpostSection  p {
    color: #fff;
    font-size: 19px;
    line-height: 27px;
	margin: 15px 0;
}

#recentpostSection h4 {
    font-size: 32px;line-height: 40px; margin:10px 0;
}
#recentpostSection h6 {
    font-size: 20px; font-style:italic;
}
#recentpostSection .span6, #contactSection .span6{ float:none; margin:0 auto; text-align:center;}
#recentpostSection .thumbnails > li{margin-left: 60px; margin-bottom:60px;}
#recentpostSection .thumbnails > li.span4{ width:350px;}



#contactSection{ background:#78909c; text-align:center; padding:70px 0;}
#contactSection .span8{ float:none; margin:0 auto;}
#contactSection h1{ text-transform:uppercase; color:#fff; padding:0;font-size:60px;}
#contactSection p {
    color: #fff;
    font-size: 19px;
    line-height: 27px;
	margin: 15px 0;
}


#headerSection { padding:15px 10px 1px 5px;}
#welcomeSection{padding:44px 0}
#headerSection {
    display: inline-block;
    width: 100%;
    margin-top: -100px;
    border-bottom: 1px solid #87999F;
    background: #222222;
    position: fixed;
    z-index:999;
}
.blockDtl {text-align:center}
.blockDtl:hover{color:#FE5214}
#shadow{ min-height:44px; padding:18px 0; text-align:center}

#carouselSection{ margin:0 auto;  padding: 0px; color:#eee;height: 100px;}
#carouselSection #myCarousel{margin-bottom:0}
#myCarousel .carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
#myCarousel .carousel .active.left {left:0;opacity:0;z-index:2;}
#myCarousel .carousel .next {left:0;opacity:1;z-index:1;}

.inner{margin-bottom:38px;}
.blogBlk{background:#fff; display: block;padding: 28px;line-height: 1.6em;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}


.footerSection{ padding:0px ;margin-top: 0px;}
.footerSection .copyright a{padding:4px; color:#A2A3A1; font-size:10px;}
.footerSection .container{}
.socialicon{ margin-top:0px; width:350px; float:left; text-align:left;}
.socialicon a{ margin-right:20px;}
.socialicon a:hover{ opacity: 0.6;}
a.twitter{ height:56px; width:56px; background:url(../img/t-icon.png) no-repeat center center;display:inline-block;}
a.facebook{ height:56px; width:56px; background:url(../img/f-icon.png) no-repeat center center; display:inline-block;}
a.html5{ height:56px; width:56px; background:url(../img/icon-1.png) no-repeat center center;display:inline-block;}
a.icon2{ height:56px; width:56px; background:url(../img/icon-2.png) no-repeat center center;display:inline-block;}

.footerSection .copyright { text-align:right; color:#a2a3a3;float:right;}
#contactSection .footerSection .copyright p{ color:#a2a3a3;font-size: 10px !important;}


#contactSection .footerSection .span8{ float:left; margin:0 0 0 25px;}


.go-top {
display: inline-block;
position: fixed;
bottom: 8px;
right: 30px;
color: #999;
text-decoration: none;
font-size: 25px;
line-height: 34px;
}
.go-top:hover {
color: #fff;
text-decoration: none;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}


#headerSection .btn.btn-navbar {
width: 16%;
text-align: center;
display:none;
border: 0;
float: right;
margin-top: -27px;
border-radius: 2px;
}
#headerSection  .navbar .btn-navbar .icon-bar {
width: 100%;
height: 2px;
}
.blockDtl{background:#fff}

.carousel-control {
	background: none;
	border: none;
}
.title-news{
	padding-bottom: 40px;
    font-size: 30px;
    padding-top: 10px;
}
.desc-img{
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	width: 80%;
	margin: auto;
	margin-top: -110px;
	padding-bottom: 20px;
}

.carousel-inner{
	text-align: center;
	margin-top: -80px;
	background-color: #A5D2DA;
}
.input-letter{
	width: 35%;
	margin: 20px;
	border-radius: 5px;
	border:1px solid white;
	padding: 5px;
	height: 27px;
	font-size: 13px;
}
.input-letter:hover{
	margin: 20px;
	border-radius: 5px;
	border:1px solid #212121;
	transition: all .5s ease-in-out;
	padding: 5px;
	font-size: 13px;
}
.form-letter{
	margin-top: -40px;
}
.button-letter{
	width: 8%;
	border-radius: 5px;
	border: 1px solid #212121;
	background-color: #212121;
	height: 27px;
	color: white !important;
}
.button-letter:hover{
	border:1px solid #212121;
	background-color: white;
	color: #212121!important;
	transition: all .5s ease-in-out;
}
.infoimg{
	height: 80%;
	width: 80%;
	border-radius: 60%;
	-webkit-transition: -webkit-transform .8s ease-in-out;
  	transition: transform .8s ease-in-out;
}
.infoimg:hover{
	border: 3px solid rgb(34, 174, 226);
	-webkit-transform: rotate(360deg);
  	transform: rotate(360deg);
}
.infoimg2{
	padding: 20px;
}

@media (max-width: 1200px){
.span3.logo{
	width:100%;
}
.mynav{
	margin:20px auto;
}
.inner h1{
	margin-top:20px;
}
}
@media (max-width: 768px){
#headerSection .btn.btn-navbar{
	display:block;
	/*margin-top:10px;*/
}
.navbar .nav, .navbar .nav li{
	width: 100%;
    margin-top: 10px;
    text-align: left;
    padding: 10px;
}
}
.socialicon{
    width: 100%;
    text-align: center;
}
.copyright{
	width:100%;
	float:none;
	text-align:center;
}
.copyright p{
	text-align:center;
}
.collapse{
	display:none;
	float:none;
}
}
@media (max-width: 600px){
#headerSection .btn.btn-navbar {
display: block;
background: white;}

.nav-collapse .nav>li {
float: none;
display: block;
text-align: left;
margin-top: 10px;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
color: #FC3C00;
border-bottom: 0;
}
.form-cover{
	width:100%;
}
.input-xlarge{
	padding:10px;
}
}
@media (max-width: 480px){
.thumbnails li{
	width:85%;
	margin:auto;
}
.r-image{
	width:100%;
}
#meetourteamSection .thumbnails li{
	width:100%;
	margin:20px auto;
}
}
@media (max-width: 380px){
.logo img{
	width:100%;
}
}

.content-port{
	width: 90%;
	display: inline-table;
}
.class-img{
	display: inline-table;
	height: 50%;
	width: 50%;
}
.img-c{
	display: inline-table;
	height: 95%;
	width: 95%;
}
.class-lab{
	margin-top: 12%;
	width: 45%;
	float: right;
	padding: 10px auto;
}
.class-lab:hover{
	margin-top: 12%;
	width: 45%;
	float: right;
	padding: 10px auto;
}
.lab-c-port{
	background-color: transparent;
	padding: 15px 5px;
	color: white;
	border-radius: 6px;
	margin: 10px;
	text-align: center;
	width: 35%;
	cursor: pointer;
	border: 1px solid white;
	font-weight: bold;
	font-size: 18px;
}
.lab-c-port:hover{
	background-color: white;
	transition: all .5s ease-in-out;
	color: #00bfa5 !important;
}
.lab-c-meet{
	background-color: transparent;
	padding: 15px 5px;
	color: white;
	border-radius: 6px;
	margin: 10px;
	text-align: center;
	width: 35%;
	cursor: pointer;
	border: 1px solid white;
	font-weight: bold;
	font-size: 18px;
}
.lab-c-meet:hover{
	background-color: white;
	transition: all .5s ease-in-out;
	color: #e57373 !important;
}
.lab-c-rec{
	background-color: transparent;
	padding: 15px 5px;
	color: white;
	border-radius: 6px;
	margin: 10px;
	text-align: center;
	width: 35%;
	cursor: pointer;
	border: 1px solid white;
	font-weight: bold;
	font-size: 18px;
}
.lab-c-rec:hover{
	background-color: white;
	transition: all .5s ease-in-out;
	color: #81AFD5 !important;
}
.lab-c-cont{
	background-color: transparent;
	padding: 15px 5px;
	color: white;
	border-radius: 6px;
	margin: 10px;
	text-align: center;
	width: 35%;
	cursor: pointer;
	border: 1px solid white;
	font-weight: bold;
	font-size: 18px;
}
.lab-c-cont:hover{
	background-color: white;
	transition: all .5s ease-in-out;
	color: #78909c !important;
}
.lab-c-yay{
	background-color: transparent;
	padding: 15px 5px;
	color: white;
	border-radius: 6px;
	margin: 10px;
	text-align: center;
	width: 35%;
	cursor: pointer;
	border: 1px solid white;
	font-weight: bold;
	font-size: 18px;
}
.lab-c-yay:hover{
	background-color: white;
	transition: all .5s ease-in-out;
	color: #66bb6a !important;
}
.lab-c-dkm{
	background-color: transparent;
	padding: 15px 5px;
	color: white;
	border-radius: 6px;
	margin: 10px;
	text-align: center;
	width: 35%;
	cursor: pointer;
	border: 1px solid white;
	font-weight: bold;
	font-size: 18px;
}
.lab-c-dkm:hover{
	background-color: white;
	transition: all .5s ease-in-out;
	color: #CCC741 !important;
}
.a-lab-port{
	color: white !important;
}
.a-lab-meet{
	color: white !important;
}
.a-lab-rec{
	color: white !important;
}
.a-lab-cont{
	color: white !important;
}
.footer-wel{
	width: 100%;
	height: 180px;
	background-color: #222;
}
.footer-content{
	text-align: justify;
	padding-top: 70px;
	padding-left: 32px;
	font-size: 90%

}
.footer-a1{
	color: #fff !important;
	margin-right: 20px;
}
.footer-a{
	color: white !important;
}
.login-page{
	width: 100%;
	background-color: white;
}
.login-form{
	text-align: center;
}
.login-content{
	width: 90%;
	height: auto;
	text-align: center;
	margin: auto;
}
.login-box{
	border-radius: 10px;
	margin: 1.6% auto;
	padding: 0%;
	width: 40%;
	height: 40%;
	border: 1px solid white;
	display: inline-table;
	cursor: pointer;
}
.login-box:hover{
	transition:all ease-in .5s;
	border: 1px solid #0275d8;
}
.login-img{
	width: 55%;
}
.login-input{
	width: 60%;
    height: 40px;
    font-size: 14px;
    border-radius: 2px;
    padding: 6px;
    border: 1px solid #C1BFBF;
    color: #52A254;
    font-family: 'Open Sans', sans-serif;
}

.login-button{
	margin-top: 20px;
    width: 60%;
    background: #0275d8;
    color: #fff;
    border: 1px solid #0275d8;
    height: 40px;
    border-radius: 4px;
}
.login-button:hover{
	border: 1px solid #0275d8;
	background-color: white;
	color: #0275d8;
}
.login-lable{
	color: #463535;
}
.div-lab{
	height: 12%;
    font-size: 25px;
    padding: 4px;
}
.back-button{
	float:right;
	margin-top:-43px;
	font-size:40px;
	margin-right:20px;
	color: #6B6B6B !important;
}
.back-button:hover{
	transition:all ease-in .5s;
	color: black !important;
}
.modal-content-login{
	width: 80%;
    background: white;
    border-radius: 10px;
    margin-left: 50px;
}
.modal-body-front {
    position: relative;
    padding: 15px;
    height: 470px;
    overflow-y: auto;
    text-align: justify;
}
.modal-title{
  font-weight: bold;
  font-size: 120%;
}
.modal-dialog-front {
    width: 98%;
    margin: 10% auto;
}
.fullcontent{
  width: 100%;
  background: #fff;
  display: inline-table;
}
.content-s{
  float: right;
  padding: 15px;
  width: 100%;
  display: inline-table;
}
.cs-com{
	margin-left: 200px;
	float: left;
}
#btn-com{
	border-radius: 2px;
    margin-left: 15px;
    width: 230%;
}
#btn-drop{
	width: 37px;
	border-radius: 2px;
}
#profile-li{
	color: #C9C5C5 !important;
	margin-left: -20px;
}
#profile-li:hover{
	color: #fff !important;
}
#galeri-li{
	color: #C9C5C5 !important;
	margin-left: 15px;
}
#galeri-li:hover{
	color: #fff !important;
}
.a-li{
	color: #C9C5C5 !important;
}
.a-li:hover{
	color: #fff !important;
}
#a-li{
	color: #C9C5C5 !important;
}
#a-li:hover{
	color: #fff !important;
}
.fcs{
	font-family: 'Open Sans', sans-serif;
	float: right;
	width: 39%;
	font-size: 14px;
	padding: 5px;
	border: 1px solid #cccccc;
	border-radius: 2px;
}
.content1{
  padding: 5px;
  width: 70%;
  float: left;
}
.content1-button{
  margin: auto;
  text-align: center;
  margin-top: 27px;
}
.cb-button{
  width: 40%;
  border: 1px solid #0275d8;
  color: #0275d8 !important;
  background: #fff;
  height: 40px;
  border-radius: 5px;
  font-size: 23px;
}
.cb-button:hover{
  background: #0275d8;
  color: white !important;
  transition: all .5s ease-in-out;
}
.content1-box-all{
  width: 94%;
  margin-left: auto;
}
.content1-box{
  width: 44.5%;
  border: 1px solid #eee;
  padding: 8px;
  display: inline-table;
  margin: 20px;
  color: #333 !important;
}
.content1-box:hover{
  border: 1px solid #A2A2A2;
}
.cb-img{
  width: 100%;
  height: 200px;
}
.cb-img:hover{
	opacity: 0.6;
}
.cb-title{
  padding-top: 5px;
  font-size: 25px;
  font-weight: bold;
}
.cb-desc{
  padding: 5px;
  text-align: justify;
  font-size: 13px;
}
.cb-inf{
  color: #75A2AD;
  font-size: 13.5px;
}
.cb-date{
  font-size: 12px;
  margin: 0px;
}
.content2{
	border-left: 1px solid #EEEEEE;
	width: 30%;
	float: right;
	padding: 19px;
}
.content2-all{
  width: 85%;
  margin-top: 36px;
}
.fnip{
	float: right;
	width: 66%;
	font-size: 14px;
	padding: 5px;
	border: 1px solid #cccccc;
	border-radius: 2px;
	font-family: 'Open Sans', sans-serif;
}
.content2-text{
	width: 90%;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 26px;
	border: 1px solid #EEEEEE;
	padding: 10px;
	font-size: 13px;
	text-align: justify;
}
.content2-notif{
	margin: auto;
	width: 90%;
	border: 1px solid #EEEEEE;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 26px;
}
.notif-p{
	color: white !important;
	background: #1fbba6;
	font-size: 17px;
	text-align: center;
	padding: 5px;
}
.notif{
	color: #333 !important;
	padding: 10px;
	font-size: 16px;
}
.no-notif{
	color: #333 !important;
	cursor: pointer;
	margin-right: 10px;
	font-weight: bold;
}
.date-notif{
	margin-left: 21px;
	font-size: 12px;
}
.notif-button{
	text-align: center;
	margin-bottom: 10px;
}
.notif-b{
	border: 1px solid #0275d8;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	color: #0275d8!important;
}
.notif-b:hover{
  background: #0275d8;
  color: white !important;
  transition: all .5s ease-in-out;
}
.content2-fb{
	text-align: center;
	height: 252px;
	border-radius: 4px;
	margin: auto;
	width: 90%;
	border: 1px solid #EEEEEE;
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 26px;
}
.content2-maps{
	text-align: center;
	height: 252px;
	border-radius: 4px;
	margin: auto;
	width: 90%;
	border: 1px solid #EEEEEE;
	margin-left: 16px;
	margin-right: 16px;
}
.title-notif{
	color: #333 !important;
	cursor: pointer;
	font-weight: bold;
}
.title-notif:hover{
	color: #1fbba6 !important;
}
.title-fb{
	padding: 5px;
	color: white !important;
	background-color: #2979ff;
}
.title-maps{
	padding: 5px;
	color: white !important;
	background-color: #e53935;
}
#btn-s{
	float:right;
	border-radius: 2px;
	margin-right:15px;
}
#btn-s2{
	float:right;
	margin-right:67px;
	border-radius: 2px;
}
.nav .dropdown-menu li{
	width: 100%;
}
#btn-rm-s{
	color: white;
	background-color: rgb(34, 174, 226);
	margin-bottom: 20px;
	margin-top: 20px;
}
#btn-rm-s:hover{
	color: rgb(34, 174, 226);
	border: 1px solid rgb(34, 174, 226);
	background-color: white;
}
#nb-logo{
	margin-top:15px;
}
#info-boxx{
	border: 2px solid white;
	border-radius: 25px;
}
#info-boxx:hover{
	border: 2px solid rgb(34, 174, 226);
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:#fff;
	box-shadow:none;
	margin-top: 204px;
}
.right-caret:after,.left-caret:after
 {	
 	content:"";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}
.right-caret:after
{	
	margin-left: 110px;
	border-left: 5px solid #333;
}
.left-caret:after
{	
	margin-left: 110px;
	border-right: 5px solid #333;
}
#log-inp{
	border-bottom: none;
}
#log-inp:hover{
	box-shadow: 0 0 4px #52A254;
	border: 1px solid #0275d8;
	color: #3A7D3C;
}
.login-input:hover{
	box-shadow: 0 0 4px #52A254;
	border: 1px solid #0275d8;
	color: #3A7D3C;
}
#info-ul{
	margin-left: 30px;
    width: 205%;
}
#cb-log{
	width: 60%;
    margin: auto;
    text-align: left;
}
.allcontentview{
	width: 100%;
}
.contentview1{
	float: left;
	width: 70%;
	padding: 10px;
	overflow-x: hidden;
    overflow-y: auto;
}
.fillcv1{
	overflow-x: hidden;
    overflow-y: auto;
	padding: 10px;
    width: 93%;
    margin-left: 55px;
}
.cv-title{
	padding: 10px;
	font-weight: bold;
	font-size: 30px;
}
.cv-property{
	display: inline-table;
	width: 100%;
	padding: 10px;
}
.cv-comment{
	width: 10%;
    color: #333 !important;
    display: inline-table;
    font-size: 25px;
}
.cv-fb{
	width: 20%;
    color: white !important;
    background-color: #2d5f9a;
    padding: 10px;
    display: inline-table;
    text-align: center;
    margin-right: 20px;
}
.cv-fb:hover{
	opacity: 0.8;
}
.cv-tweet{
	width: 20%;
    color: white !important;
    background-color: #00c3f3;
    padding: 10px;
    display: inline-table;
    text-align: center;
}
.cv-tweet:hover{
	opacity: 0.8;
}

.cv-img{
	width: 100%;
	padding: 10px;
}
.img-cv{
	width: 100%;
	height: 400px;
}
.cv-auth{
	padding: 10px;
	width: 100%;
	color: #598A84;
}
.cv-date{
	font-size: 13px;
}
.cv-text-news{
	padding: 10px;
	text-align: justify;
}
.lab-fb{
	margin-left: 5px;
}
.lab-tweet{
	margin-left: 5px;
}
.lab-jml-com{
	margin-left: 5px;
}
.cv-comments{
	display: inline-flex;
	width: 100%;
}
.img-user-com{
	padding: 10px;
    display: inline-table;
    margin-right: 10px;
}
.img-uc{
	height: 50px;
    width: 50px;
}
.inp-com{
	width: 80%;
    display: inline-table;
    padding: 10px;
}
.input-com{
	width: 85%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #BBB1B1;
}
.input-com:hover{
	transition: all .5s ease-in-out;
	border: 1px solid #2D506F;
	box-shadow:0 0 4px #2D506F;
}
.button-com{
	width: 200%;
    margin-left: 23px;
    height: 50px;
    background: #2D506F;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}
.button-com:hover{
    background: white;
    border: 1px solid #2D506F;
    color: #2D506F;
    transition: all .5s ease-in-out;
}
.but-comm{
	display: inline-table;
}
.view-comment{
	width: 100%;
	padding: 10px;
}
.title-vc{
	font-weight: bold;
}
.line-comment{
	width: 100%;
	display: inline-table;
}
.lc-img{
	display: inline-table;
	margin-right: 10px;
}
.img-lc{
	height: 35px;
	width: 35px;
	margin-top: 16px;
}
.lc-text{
	display: inline-table;
    font-size: 13px;
    text-align: justify;
    width: 94%;
}
.but-more-comment{
	text-align: center;
	width: 100%;
}
.button-mc{
	text-align: center;
    width: 20%;
    padding: 8px;
    color: white;
    background: #0269c2;
    border: 1px solid white;
    border-radius: 5px;
}
.button-mc:hover{
    color: #0269c2;
    background: white;
    border: 1px solid #0269c2;
    transition: all .5s ease-in-out;
}
.other-news{
	padding: 10px;
	width: 100%;
}
.title-on{
	font-weight: bold;
}
.on-box{
	display: inline-table;
    width: 32.9%;
    border: 1px solid #eee;
    padding: 5px;
    text-align: center;
}
.on-box:hover{
	transition: all .5s ease-in-out;
	opacity: 0.6;
}
.on-img{
	height: 90%;
    width: 97%;
}
.on-title{
	font-size: 14px;
    color: #333 !important;
    padding: 10px;
    text-align: center;
}
#sg{
	width:60%;
	margin:auto;
	border-radius:2px;
	height:5.8%;
}
.cs-search {
    width: 89.5%;
    margin-left: 480px;
}
.title-pendaftaran{
	background-color: #eee;
	width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	border-bottom: 1px solid #eee; 
}
.full-pendaftaran{
	text-align: center;
	width: 100%;
	display: inline-table;
	padding: 20px;
}
.box-pendaftaran{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 35%;
	margin: 20px;
	border: 1px solid #eee;
	display: inline-table;
	cursor: pointer;
}
.box-pendaftaran:hover{
	border: 1px solid #0275d8;
}
.img-pendaftaran{
	padding: 20px;
	width: 100%;
	margin: auto;
}
.img-daftar{
	width: 98%;
	height: 300px;
}
.img-daftar:hover{
	opacity: 0.8;
}
.titlebox{
	color: #333 !important;
	width: 100%;
    text-align: center;
    margin-top: -17px;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 15px;
}
.titlefullboxtk{
	border-top: 1px solid #00bfa5;
	width: 100%;
	padding: 10px;
	background-color: #00bfa5;
	color: white;
	font-size: 18px;
	font-weight: bold;
}
.titlefullboxtk:hover{
	border-top: 1px solid #00bfa5;
	width: 100%;
	padding: 10px;
	background-color: white;
	color: #00bfa5 !important;
	font-size: 18px;
}
.titlefullboxsd{
	border-top: 1px solid #e57373;
	width: 100%;
	padding: 10px;
	background-color: #e57373;
	color: white;
	font-size: 18px;
	font-weight: bold;
}
.titlefullboxsd:hover{
	border-top: 1px solid #e57373;
	width: 100%;
	padding: 10px;
	background-color: white;
	color: #e57373 !important;
	font-size: 18px;
}
.titlefullboxsmp{
	border-top: 1px solid #81AFD5;
	width: 100%;
	padding: 10px;
	background-color: #81AFD5;
	color: white;
	font-size: 18px;
	font-weight: bold;
}
.titlefullboxsmp:hover{
	border-top: 1px solid #81AFD5;
	width: 100%;
	padding: 10px;
	background-color: white;
	color: #81AFD5 !important;
	font-size: 18px;
}
.titlefullboxsma{
	border-top: 1px solid #78909c;
	width: 100%;
	padding: 10px;
	background-color: #78909c;
	color: white;
	font-size: 18px;
	font-weight: bold;
}
.titlefullboxsma:hover{
	border-top: 1px solid #78909c;
	width: 100%;
	padding: 10px;
	background-color: white;
	color: #78909c !important;
	font-size: 18px;
}
.requireddaftar{
	color: red;
	font-size: 25px;
}


@media only screen and (max-width : 992px) {

.img-daftar{
	width: 98%;
	height: 200px;
}
.title-pendaftaran{
	margin-top: -10px;
}
.box-pendaftaran{
	width: 100%;
	margin: 20px 0 0;
}
.cs-search {
    width: 89.5%;
    margin-left: 20px;
}
#sg{
	width:90%;
}
.contentview1{
	float: none;
	width: 100%;
}
.fillcv1{
	margin: 0px;
	width: 100%;
}
.cv-title {
    font-size: 20px;
}
.cv-fb {
	margin-right: 10px;
    width: 20%;
}
.cv-tweet{
    width: 20%;
}
.lab-fb{
	display: none;
}
.lab-tweet{
	display: none;
}
.cv-comment {
    width: 25%;
	font-size: 20px;
}
.img-cv {
    width: 100%;
    height: 200px;
}
.lab-cv-auth{
	font-size: 14px;
}
.cv-text-news{
	font-size: 15px;
}
.img-uc {
    height: 40px;
    width: 40px;
}
.img-user-com {
    margin-right: 0px;
}
.input-com {
	font-size: 14px;
	width: 97%;
	height: 40px;
}
.but-comm{
	float: right;
}
.button-com {
	font-size: 13px;
    width: 120%;
    margin-left: 0px;
    margin-right: 6px;
    height: 40px;
    float: right;
    margin-top: 10px;
}
.lc-text {
    font-size: 12px;
    width: 78%;
}
.button-mc {
    text-align: center;
    width: 55%;
    font-size: 13px;
}
.on-box {
    width: 100%;
    margin-bottom: 10px;
}
.on-img {
    height: 200px;
    width: 100%;
}
#cb-log{
	width: 90%;
    margin: auto;
    text-align: left;
}
.login-button{
    width: 90%;
}
#info-ul{
	margin-left: 16px;
    width: 327%;
    margin-top: -40px;
}
.login-input{
	width: 90%;
}
.modal-content-login{
	margin-top: 40%;
	width: 100%;
    background: white;
    border-radius: 10px;
    margin-left: 6px;
}
.checkbox{
	margin-left: -175px;
}
#no-li{
	margin-left: 12px;
}
#profile-li{
	margin-left: 9px;
}
#galeri-li{
	margin-left: 0px;
}
.right-caret:after
{	
	margin-left: 20px;
	border-left: 5px solid white;
}
.left-caret:after
{	
	margin-left: 20px;
	border-right: 5px solid white;
}
.cs-com{
	margin-top: 20px;
	margin-left: 0px;
}
#btn-com{
	border-radius: 2px;
    width: 327%;
    margin-left: 18%;
}
#btn-drop{
	float: right;
}
.nav li:a{
	color: #9d9d9d !important;
}
.nav li:hover a {
color: white !important;
}

#btn-s{
	float: right;
    margin-right: 13px;
    margin-top: 70px;
    margin-bottom: -30px;
}
#btn-s2{
	float:right;
	margin-right:0px;
}
.class-lab{
	margin-top: 0px;
	width: auto;
	float: none;
	padding: 0px;
	}
.lab-c-rec{
	background-color: none;
	padding: 2px 2px;
	margin: 2px;
	width: auto;
	font-size: 15px;
	font-weight: normal;
	}
.lab-c-rec:hover{
	background-color: white;
	transition: all .5s ease-in-out;
	font-size: 15px;
}
.lab-c-cont{
	background-color: none;
	padding: 2px 2px;
	margin: 2px;
	width: auto;
	font-size: 15px;
	font-weight: normal;
	}
.lab-c-cont:hover{
	background-color: white;
	transition: all .5s ease-in-out;
	font-size: 15px;
}
.lab-c-yay{
	background-color: none;
	padding: 2px 2px;
	margin: 2px;
	width: auto;
	font-size: 15px !important;
	font-weight: normal;
	}
.lab-c-yay:hover{
	background-color: white;
	transition: all .5s ease-in-out;
	font-size: 15px;
}
.lab-c-dkm{
	background-color: none;
	padding: 2px 2px;
	width: auto;
	font-size: 15px;
	font-weight: normal;
	}
.lab-c-dkm:hover{
	background-color: white;
	transition: all .5s ease-in-out;
	font-size: 15px;
}
.lab-c-meet{
	background-color: none;
	padding: 2px 2px;
	margin: 2px;
	width: auto;
	font-size: 15px;
	font-weight: normal;
	}
.lab-c-meet:hover{
	background-color: white;
	transition: all .5s ease-in-out;
	font-size: 15px;
}
.lab-c-port{
	background-color: none;
	padding: 2px 2px;
	margin: 2px;
	width: auto;
	font-size: 15px;
	font-weight: normal;
	}
.lab-c-port:hover{
	background-color: white;
	transition: all .5s ease-in-out;
	font-size: 15px;
}
.mynav li a:hover{
	background: #01579b;
	color:white;
	padding: 5px 8px;
	overflow: hidden;
}
.nav>li>a{
	position:relative;
	padding:5px 8px;
}
.class-lab:hover{
	margin-top: 0px;
	width: auto;
	float: none;
	padding: 0px;
}
.lab-c:hover{
	background-color: white;
	padding: 2px 2px;
	border-radius: 4px;
	margin: 2px;
	text-align: center;
	width: auto;
}
.navbar-brand{
	margin-top: 10px;
}
#headerSection {display: inline-block;width: 100%;margin-top: 0px;border-bottom: 0px solid #87999F;background:#222;position:relative;}
.carousel-inner{position:relative;width:100%;overflow:hidden;margin-top:0px;}
#carouselSection{ margin:0 auto;  padding: 0px; color:#eee;height: 0px;}
.login-box{width: 100%;margin: 4% auto;}
.back-button{margin-top:3px;}
.footer-content {
	text-align: center;
	padding-top: 60px;
	padding-left: 0px;
	font-size: 80%;
}
.desc-img{
	margin-top: 30px;
	font-size: 12px;
	width: 100%;
}

.form-letter{
	padding: 10px;
	margin-top: -40px;
	font-size: 13px !important;
}
.input-letter{
	width: 100%;
	margin: 10px;
	border-radius: 5px;
	border:1px solid white;
	padding: 2px;
	height: 27px;
	font-size: 13px;
}
.input-letter:hover{
	width: 100%;
	margin: 10px;
	border-radius: 5px;
	border:1px solid #212121;
	padding: 2px;
	height: 27px;
	font-size: 13px;
}
.button-letter{
	width: 27%;
	border-radius: 5px;
	border: 1px solid #212121;
	background-color: #212121;
	height: 27px;
	color: white !important;
}
.button-letter:hover{
	width: 27%;
	border-radius: 5px;
	border: 1px solid #212121;
	background-color: white;
	height: 27px;
	color: #212121 !important;
}
.content1{
	width: 100%;
}
.content2{
	width: 100%;
	border:none;
}
.content-s{
	display: inline-table;
	width: 100%;
}
.fcs{
	width: 82%;
    float: none;
    margin-top: 70px;
    margin-bottom: -30px;
    margin-left: 15px;
}
.fullcontent{
	width: 100%;
}
.content1-box-all{
	width: 100%;
}
.content1-box{
	margin: 30px;
	width: 85%;
}
.content1-button{
	width: 100%;
	margin: 0px;
}
.cb-button{
	width: 70%;
	font-size: 15px;
}
.content-2{
	width: 100%;
}
.content2-s{
	width: 100%;
}
.content2-notif{
	margin: 0px;
	width: 100%;
}
.fnip{
	width: 91%;
	float: none;
	margin-bottom: 10px;
}
.content2-all{
	width: 100%;
}
.content2-text{
	width: 100%;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
}
.content2-notif{
	width: 100%;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
}
.content2-fb{
	width: 100%;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
}
.content2-maps{
	width: 100%;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
}
.input-group-btn {
	margin-left: 20px;
}
